// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color:#c7c7c7;
}
//Navbar---------------------
.nav>li{
  padding: 0 6em;
}
.nav > li> a{
  color:white;
}
.navbar{
  background: #4E4E4E;
  opacity: .8;
  margin-bottom:0px;
  position: absolute;
  width: 100%;
  border-radius: 0px;
  margin-top:-50px;
}



//Home Page------------------
#home{
  margin-top:50px;
  height:100vh;
  background-image: url('BigOcean.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.title{
  font-size: 8em;
  color: white;
  text-align: center;
  font-family: "Gentium Book Basic", Georgia, serif
}
//Bio page------------------
#bio{
  height: 40vh;
  max-width: 45em;
  margin-top: 2em;
}
#bio h2{
  text-align: center;
}
#bio p{
  font-family: roboto;
  font-size:medium;
  color: #222222;
  text-align: center;
}
.userImg{
  position: absolute;
  left: 45vw;
  margin-top: 2vh;
}
//Skills page
#skills{
  height: 50vh;
  font-family: roboto;
}
#skills1{
  font-size: medium;
   margin-top: 2em;
  margin-left: 45em
}
.reqs li{
  font-size: medium;
  font-family:roboto;
  list-style-type: none;
}
#skills2{
  margin-left: 11em;
  margin-top: -9.5em;
  width: 30em;
  position: relative;
  text-align: justify;
}
#skills2 p{
  font-size: medium;
}

// Awards-------------------------

#awards h1{
  font-family: roboto;
  text-align: center;
}
#award1, #award2, #award3{
  display: inline-block;
  font-size:18px;
  max-width:55em;
  margin: 3em 4em;
}
#award1 img{
  margin-left: 5em;
  margin-bottom: 1em;
}
#award2 img{
  margin-left:4.5em;
  margin-bottom:1em;
}
#award3 img{
  margin-left: 2.5em;
  margin-bottom: 1em;
}
#contact{
    background: #594F49;
    padding:4em;
}
#contact p{
  color: white;
  text-align:center;
}
#contact h3{
  color:#FFE799;
  text-align:center;
}
hr{
      border-top: 1px solid #000;
}